body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    background-image: url('images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* Header styles /
header {
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2em;
}

/ Main section styles */
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    transition: transform 0.3s ease;
}

.product {
    background-color: rgb(36, 34, 34);;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.product:hover {
    transform: translateY(-5px);
  }

.product img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.product p {
    margin-bottom: 15px;
}

.product button {
    background-color: #fcfcfc;
    color: #000000;
    border: none;
    padding: 8px 15px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product button:hover {
    background-color: #a50303;
    color: aliceblue;
}
.productcolor{
    color: aliceblue;
}